.footer {
  text-align: center;
  padding: 5rem 0;

  &__nav {
    margin-block: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  &__link {
    font-size: 2rem;
    background-color: transparent;
    color: $color-base;
    padding: .5rem .7rem;
    margin-inline-end: 2rem;
    transition: opacity 300ms ease-in-out;

    &:hover {
      opacity: .8;
    }
  }
}